@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
html{
	font-family: 'Lato', sans-serif;
	background-color: #EDEDED;
}
nav{
	height: 100px;
	border-bottom: 1px solid rgba(0,0,0,0);
}
nav li a{
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
}
nav .brand-logo{
	color: #333;
	line-height: 60px;

}
nav .brand-logo:hover{
	background-color: transparent;
}
nav .brand-logo img{
    height: 50px;
    margin-top: 25px;
}
.container{
	width: 80%;
}
@media screen and (max-width: 992px) {
.container{
	width: 95%;
}
}
.section-heading{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.3rem;
	padding: 10px 0;
}
/*MAIN INFO BOX START*/
.main-info{
	border-top:1px solid #BDBDBD;
	border-bottom:1px solid #BDBDBD;
	padding: 30px 15px 30px;
	margin-top: 30px;
}
.center-border{
	border-left:1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
}
.main-info .fa{
	font-size: 3rem;
	line-height: 3rem;
}
.main-info h4{
	font-size: 1.3rem;
	margin-bottom: 6px;
	font-weight: 600;
	text-transform: capitalize;
}
.main-info p{
	font-size: 1rem;
	font-weight: 400;
}.quote-form{
	min-height: 600px;
	padding-bottom: 50px;
	padding-left:15.5%;
}
/*custo form*/
.form-style-1 {
    margin:10px auto;
    max-width: 100%;
    padding: 20px 12px 10px 20px;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=tel],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #DBDBDB;
    background: rgba(255,255,255,1);
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=tel]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    border: 1px solid #a4005f;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #7db338;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.no-margin{
	margin:0;
}
.latest-post-heading{
	font-size: 16px;
	font-weight: 500;
}
.latest-post li{
	margin-bottom: 5px;
}
.post .row{
	margin-bottom: -5px;
}
.post{
	background-color: #fff;
	padding: 10px;
	border:1px solid #eee;
}
.latest-post li:hover{
	background-color: rgba(0,0,0,0.4);
}
.page-bread-bg{
	background-image: url('../img/page-bread-bg.jpg');
	height: 150px;
	background-origin: right bottom;
	background-size: cover;
}
.page-bread-box{
	padding-top: 50px;
}
.page-bread-box h4{
}
.page-bread-list li{
	font-size: 14px;
	display: inline-block;
}
.page-bread-list li:after{
	content: " / "
}
.page-bread-list li:last-child:after{
	content: " ";
}
.caption .front-banner-heading h2{
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: -3px;
}
.caption .front-banner-heading h5{
	font-size: 1.1rem;
}
@media screen and (max-width: 992px) {
  .caption .front-banner-heading{
	font-size: 1.6rem !important;
	line-height: 1.8rem;
  }
  .caption-banner .front-banner-subheading{
	font-size: 1.1rem;
	margin-bottom: 25px;
  }
}
.cus-button{
	background-color: #212121;
}
.cus-button:hover{
	background-color: #000000;
}

/*styling buttons*/
  .btn-outline{
    border:1px solid #F2F2F2;
    margin-left: 15px;
  }
  .btn-sm-out-line{
    background-color: #3f7826;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    border:1px solid #3f7826;
  }
  .btn-sm-out-line:hover{
    background-color: #3f7826;
  }

  .btn-sm-out-line-2{
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    border:1px solid transparent;
  }


.holder {
    margin: 15px auto;
    width:100%;

}

.holder a {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: #4D4641;
    border:2px solid #000;
    padding: 10px 15px;
}

.holder a:hover {
    background-color: transparent;
    border:2px solid red;
    color: #4D4641;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover {
    color: red;
    font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}
/*Pagination*/
.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
    cursor: default;
    background: none;
}

.holder span { margin: 0 5px; }

.pagination li.active {
  background-color: #607D8B;
}
.pagination .fa{
  padding: 0px;
  margin-top: -2px;
}
@media screen and (max-width: 992px) {
  .pagination li{
    width: 40px;
    padding: 0px;
    margin-top: -2px;
  }
  .pagination .fa{
    padding: 0px;
    margin-top: 0px;
  }
}
/*travel card design*/
.border-5px{
  border: 5px solid #D5D5D5;
}
.card .card-content{
	padding:0px 10px 15px;
}
.menu-card-inside .travel-name a{
	font-size: 1.3rem;

}
.menu-card-inside .travel-price{  
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 5px;
}
.menu-card-inside .inline-ul li{
	display: inline-block;
}
/*
.menu-card-inside .inline-ul li:first-child{
	display: inline-block;
	padding: 0 5px;
	padding-left: 0;
}*/
.menu-card-inside .travel-details{
  font-size: 14px;
}
.owl-carousel .item{
	padding:0;
	padding-right: 15px;
}

/*Detail page*/
.bread-bg-img{
	background-image: url('../img/bg-banner.png');
	height: 170px;
	margin-top: 80px;
	background-size: cover;
	background-position: center;
}
.bread-bg-details{
	padding-top: 50px;
}
.bread-bg-details h3{
	margin-top: 20px;
	line-height: 1rem;
	font-size: 2rem;
	letter-spacing: -3px;
	text-transform: uppercase;
	font-weight: 600;	
}
.bread-bg-details p{
	display: inline-block;
	font-size: 18px;
	margin-top: 12px;
	color: #424242;
}
.news-crumb{
	margin: 15px 0;
	color: #000;
}
.news-crumb h2{
	font-size: 40px;
}
.news-crumb li{
	display: inline-block;
	font-size: 16px;
	color: #F2F2F2;
	font-weight: 400;
	margin-right: 5px;
	text-transform: capitalize;	
}
.news-crumb li:hover{
	text-decoration: underline;
}
.news-crumb .active{
	color: #fff;
}
.news-crumb .active:hover{
	text-decoration: none;
}
.news-details h4{
	color: #7CB342;
	margin-bottom: 15px;
}
.news-details h4:hover{
	text-decoration: underline;
}
.news-details span{
	color: #919191;
}
.news-details p{
	color: #212121;
}
.news-details-large h4{
	color: #212121;
	font-weight: 500;
	font-size: 24px;
	margin: 15px 0;
}
.main-news-heading h5{
	font-size: 26px;
	line-height: 36px;
}
.news-details-large .date{
	color: #919191;
	margin: 10px 0;
}
.news-details-large p{
	color: #313131;
}
.img-holder-news img{
	width: 100%;
}
.top-stories-box h5 a{
	color: #AA00FF;
	font-size: 22px;
	font-weight: 500;
}
.border-gap {
	border:1px solid #eee;
	margin-top: 15px;
}
.tab-inner{
	padding: 15px 12px 10px !important;
}


